﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Calendar>

@{
    ViewBag.Title = "Hendelser";
}

<h2>@ViewBag.Title</h2>
<table>
    <thead>
        <tr>
            <th>Dato</th>
            <th>Hendelse</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="2"></td>
        </tr>
    </tfoot>
    <tbody>
        @{
            foreach (Calendar calendar in Model)
            {
                <tr>
                    <td>@calendar.StartDateTime</td>
                    <td>@calendar.Name</td>
                </tr>
            }
        }
    </tbody>
</table>
