﻿@using NTB.SportsDataAdmin.Application.Repositories
@using NTB.SportsDataAdmin.Domain.Classes
@model List<AgeCategory>

@{
    ViewBag.Title = "ChangeAgeCategory";

    AgeCategoryDefinitionRepository ageCategoryRepository = new AgeCategoryDefinitionRepository();
    List<AgeCategoryDefinition> ageCategoryDefinitions = new List<AgeCategoryDefinition>(ageCategoryRepository.GetAll());
}

<h2>Endre alderskategori</h2>
<form method="post" action="/AdminTools/EditAgeCategory">
<table>
    <thead>
        <tr>
            <th>Idrett</th>
            <th>Alderskategori</th>
            <th>Fra alder</th>
            <th>Til alder</th>
            <th>NTBs kategorisering</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </tfoot>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (AgeCategory ageCategory in Model)
                {
                    <tr class="agecategory">
                        <td>@ageCategory.SportName</td>
                        <td>@ageCategory.CategoryName</td>
                        <td>@ageCategory.MinAge</td>
                        <td>@ageCategory.MaxAge</td>
                        <td>
                            <select name="ageCategoryDefinition">
                                @{
                                    foreach (AgeCategoryDefinition ageCategoryDefinition in ageCategoryDefinitions)
                                    {
                                        if (ageCategoryDefinition.DefinitionId == ageCategory.AgeCategoryDefinitionId)
                                        {
                                            <option selected ="selected" value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                                        }
                                        else
                                        {
                                            <option value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <a href="/Admintools/EditSelectedAgeCategory/@ageCategory.CategoryId">Edit</a>
                        </td>
                    </tr>
                }
            }
        }
        <tr>
            <td colspan="4" style="text-align: right;">
                <input type="submit" value="Endre"/>
            </td>
        </tr>
    </tbody>
</table>
</form>