﻿@{
    ViewBag.Title = "CheckTournament";
}

<h2>CheckTournament</h2>
<form method="POST" action="/AdminTools/CheckTournament">
    <input type="text" name="tournamentId"/>&nbsp;
    <input type="submit" value="Sjekk"/>
</form>