﻿@model NTB.SportsDataAdmin.Domain.Classes.Season

@{
    ViewBag.Title = "Endre sesong";
}

<h2>Endre Sesong</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Sesong</legend>

        @Html.HiddenFor(model => model.SeasonId)
        @Html.HiddenFor(model => model.SportId)

        <div class="editor-label">Sesong navn</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeasonName)
            @Html.ValidationMessageFor(model => model.SeasonName)
        </div>

        <div class="editor-label">Aktiv sesong</div>
        <div class="editor-field">
            @{
                if (Model.SeasonActive == false)
                {
                    <input type="checkbox" name="seasonactive"/>
                }
                else
                {
                    <input type="checkbox" name="seasonactive" checked="checked"/>
                }
            }
        </div>

        <div class="editor-label">Sesongen starter</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeasonStartDate)
            @Html.ValidationMessageFor(model => model.SeasonStartDate)
        </div>

        <div class="editor-label">Sesongen slutter</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SeasonEndDate)
            @Html.ValidationMessageFor(model => model.SeasonEndDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
