﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Federation> 
@{
    ViewBag.Title = "Forbund";
}

<h2>Forbund</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th colspan="5">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
    </tfoot>
    <tbody>
        @{
            foreach (Federation federation in Model)
            {
                <tr>
                    <td>@federation.FederationName</td>
                    <td><a href="/AdminTools/ViewFederation/@federation.FederationId">Legg til / oppdater disiplin tabell</a></td>
                    <td><a href="/AdminTools/AddAgeCategories/@federation.FederationId">Legg til alderskategorier for idrett fra NIF</a></td>
                    <td><a href="/AdminTools/EditAgeCategories/@federation.FederationId">Adminstrer alderskategorier for idrett</a></td>
                    <td><a href="/AdminTools/GetSeasons/@federation.FederationId">Adminstrer sesonger for idrett</a></td>
                    <td><a href="/AdminTools/ActivateSport/@federation.FederationId">Aktiver idrett</a></td>
                    
                </tr>
            }
        }
    </tbody>
</table>
