﻿@using NTB.SportsDataAdmin.Domain.Classes
@{
    ViewBag.Title = "Kamper";
}

<h2>Kamper</h2>
<table>
    <thead>
        <tr>
            <th>Dato</th>
            <th>Hjemmelag</th>
            <th>Bortelag</th>
            <th>Kamp Id</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"><a href="javascript:history.back()">Tilbake</a></td>
        </tr>
    </tfoot>
    <tbody>
        @{
            foreach (Match match in Model)
            {
                <tr>
                    <td>@match.Date</td>
                    <td>@match.HomeTeam</td>
                    <td>@match.AwayTeam</td>
                    <td>@match.MatchId</td>
                </tr>
            }
        }
    </tbody>
</table>