﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Sport>
@{
    ViewBag.Title = "SelectAgeCategorySport";
}

<h2>Velg idrett</h2>
<form method="POST" action="/AdminTools/GetAgeCategoriesForSport">
    <select name="sport">
        @{
            foreach (Sport sport in Model)
            {
                string sportandfederation = @sport.Id + "|" + @sport.OrgId;
                <option value="@sportandfederation">@sport.Name</option>
            }
        }
    </select>
    <input type="submit" value="Submit"/>

</form>