﻿@using System.Reflection
@model NTB.SportsDataAdmin.Domain.Classes.Tournament

<h2>CheckTournament</h2>
<form method="POST" action="/AdminTools/CheckTournament">
    <input type="text" name="tournamentId"/>&nbsp;
    <input type="submit" value="Sjekk"/>
</form>


@{
    ViewBag.Title = "TournamentInfo";

    if (Model != null)
    {
        Type type = Model.GetType();

        <h2>TournamentInfo</h2>
        {
            PropertyInfo[] properties = type.GetProperties();
            foreach (PropertyInfo property in properties)
            {
                var valueId = property.Name + "value";
                <div style="width: 500px; float: left;">
                    <span id="@property.Name" style="font-weight: bolder; width: 200px;">@property.Name: </span>
                </div>
                <div>
                    <span id="@valueId" style="width: 400px;">@property.GetValue(Model, null)</span>
                </div>
                <br />
            }
        }
    }

}