﻿@using NTB.SportsDataAdmin.Domain.Classes;
@model List<Sport>
           
@{
    ViewBag.Title = "Turneringer";
}
<h2>Turneringer</h2>

<form method="POST" action="/AdminTools/GetTournamentSeasons">
    <select name="sport">
        <option value="-1">Velg idrett</option>
        @{
            foreach (Sport sport in Model.Where(x => x.HasTeamResults == 1))
            {
                <option value="@sport.Id">@sport.Name</option>
            }
        }
    </select>
    <input type="submit" value="Hent turneringer"/>
</form>
