﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Sport>

@{
    ViewBag.Title = "UpdateSportsTable";
}

<h2>UpdateSportsTable</h2>
<table>
    <thead>
        <tr>
            <th>Sport Id</th>
            <th>Sport</th>
            <th>Single Sport</th>
            <th>Team Sport</th>
            <th>Org Id</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Sport sport in Model)
            {
                <tr>
                    <td>@sport.Id</td>
                    <td>@sport.Name</td>
                    <td>@sport.HasIndividualResult</td>
                    <td>@sport.HasTeamResults</td>
                    <td>@sport.OrgId</td>
                    <td>@sport.OrgName</td>
                    <td><a href="/AdminTools/DeleteSport/@sport.Id">Slett</a></td>
                </tr>
            }

        }
    </tbody>
</table>