﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Season>
@{
    ViewBag.Title = "Vedlikehold";
}

<h2>Vedlikehold</h2>

<h3>Sesong</h3>
<form method="POST" action="/Tools/UpdateTournaments" id="updateTournaments">
    <select name="sesong[]" multiple="multiple" id="sesong">
        @foreach (Season season in Model)
        {
            <option value="@season.SeasonId">@season.SeasonName</option>
        }
    </select>
    <input type="submit" value="Oppdater"/>
</form>