﻿@using NTB.SportsDataAdmin.Domain.Classes
@model Federation 
@{
    ViewBag.Title = "Forbunds informasjon";
}

<h2>@Model.FederationName</h2>
<form method="POST" action="/AdminTools/AddFederationDisciplines/@ViewBag.OrgId">
    <table>
        <thead>
            <tr>
                <th>Sport</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: right;"><input type="submit" value="Submit"/></td>
            </tr>
        </tfoot>
        <tbody>
        @{
            foreach (FederationDiscipline federationDiscipline in Model.FederationDisciplines)
            {
                <tr>
                    <td>@federationDiscipline.ActivityName</td>
                    <td>
                        @{
                            string disciplineIdAndName = federationDiscipline.ActivityId + "|" + federationDiscipline.ActivityName;
                        }
                        <input type="checkbox" name="disciplines[]" value="@disciplineIdAndName" checked="checked"/>@federationDiscipline.ActivityName
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</form>

<a href="javascript:history.back();">Tilbake</a>