﻿@using NTB.SportsDataAdmin.Domain.Classes

@model List<NumberOfMatches>
           
@{
    ViewBag.Title = "GetNumberOfMatches";
    
    
}

<h2>GetNumberOfMatches</h2>
<table>
    <thead>
        <tr>
            <th>Dato</th>
            <th>Antall kamper</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (NumberOfMatches numberOfMatches in Model)
                {
                    <tr>
                        <td>@numberOfMatches.MatchDate.Value.ToShortDateString()</td>
                        <td>@numberOfMatches.TotalMatches</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>