﻿@model List<Karantener>
@using NTB.SportsDataAdmin.Domain.Classes
@{
    ViewBag.Title = "Karantener";
}

<h2>Karantener</h2>
@{
    foreach (Karantener karantene in Model)
    {
        <span>@karantene.PlayerName</span>
        <br />
        <span>@karantene.RedCard</span>
        <br />
        <span>@karantene.SanctionCompleted</span>
        <span>@karantene.YellowCard</span>
    }

}