﻿@model Customer
@using NTB.SportsDataAdmin.Application.Repositories
@using NTB.SportsDataAdmin.Domain.Classes

@{
    MediaHouseRepository repository = new MediaHouseRepository();
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Kunde</legend>

        <div class="editor-label">Navn</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">Mediehus</div>
        <div class="editor-field">
            <select name="MediaHouseId">
                @{
                    List<MediaHouse> mediaHouses = new List<MediaHouse>(repository.GetAll());

                    foreach (MediaHouse mediaHouse in mediaHouses)
                    {
                        <option value="@mediaHouse.MediaHouseId">@mediaHouse.MediaHouseName</option>
                    }

                }
            </select>
        </div>

        <div class="editor-label">Adresse</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        
        <div class="editor-label">Postnummer</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>
        
        <div class="editor-label">Sted</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        
        <div class="editor-label">E-Post</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <div class="editor-label">TT Kundenummer</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TtCustomerId)
            @Html.ValidationMessageFor(model => model.TtCustomerId)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>