﻿@using NTB.SportsDataAdmin.Domain.Classes
@model DefineView 

@Html.EditorFor(model => model.DetailsView)

@{
    var sportId = Model.CustomerJob.SportId;
    Session.Add("SportId", sportId);
}

<form method="POST" action="/Customer/GetMunicipalities/@Model.CustomerJob.JobId">
    <fieldset><legend>@Model.CustomerJob.JobName</legend>
        <input type="hidden" name="sportId" value="@Model.CustomerJob.SportId"/>
        <input type="hidden" name="ageCategoryId" value="@Model.CustomerJob.AgeCategoryId"/>
        <input type="hidden" name="jobId" value="@Model.CustomerJob.JobId"/>
        <input type="hidden" name="customerId" value="@Model.CustomerJob.CustomerId"/>
        <select name="seasonId">
            <option value=""></option>
            @{
                foreach (Season season in Model.Seasons.OrderByDescending(s => s.SeasonStartDate))
                {
                    if (season.SeasonId == Convert.ToInt32(Session["SeasonId"].ToString()))
                    {
                        <option selected="selected" value="@season.SeasonId">@season.SeasonName</option>
                    }
                    else
                    {
                        <option value="@season.SeasonId">@season.SeasonName</option>
                    }
                    
                }

            }
        </select>
        <input type="submit" id="filterButton"/>
    </fieldset>
</form>