﻿@using NTB.SportsDataAdmin.Domain.Classes

@model DefineAgeCategoryView

<form id="soccerFilter">
    <input type="hidden" id="acSportId" name="acId" value="@ViewBag.SportId"/>
    <select name="selAgeCategoryDefinitions" id="selAgeCategories">
        <option value=""></option>
        @{
            foreach (AgeCategoryDefinition definition in Model.AgeCategoryDefinitions)
            {
                <option value="@definition.DefinitionId">@definition.DefinitionName</option>
            }

        }
    </select>
    @{
        var sportId = ViewBag.SportId;
        if (ViewBag.SportId == 0)
        {
            sportId = 16; // Soccer
        }

    }


    <select name="selSeason" id="selSeason">
        <option value=""></option>
        @{
            foreach (Season season in Model.Seasons)
            {
                <option value="@season.SeasonId">@season.SeasonName</option>
            }

        }
    </select>
    <input type="submit" id="soccerFilterButton"/>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $("#soccerFilter").submit(function () {
            
            if (!window.console)
                var console =
                { 
                    log: function () 
                    {
                    }
                };

            @{
                var customerId = Session["CustomerId"];
            }
            var customerId = '@customerId';
            var jobId = '@ViewBag.JobId';
            var sportId = $("#acSportId").val();
            var ageCategoryDef = $("#selAgeCategories").val();
            var seasonId = $("#selSeason").val();
            var sports = sportId;
            if (console) 
            {
                console.log('DefineJob.cshtml - this is Sport: ' + sports);
                console.log('DefineJob.cshtml - customerId: ' + customerId);
                console.log('DefineJob.cshtml - jobId: ' + jobId);
                console.log('DefineJob.cshtml - ageCategoryDef: ' + ageCategoryDef);
                console.log('DefineJob.cshtml - seasonId: ' + seasonId);
            }

            $("#loadingDiv").show();
            if (console) {
                console.log('About to load /Customer/GetMunicipalities/');
            }

            $("#Municipalities").load('/Customer/GetMunicipalities/',
                {
                    'sportId': sports,
                    'districtId': 0,
                    'JobId': jobId,
                    'AgeCategoryId': ageCategoryDef,
                    'CustomerAction': 'DefineJob',
                    'CustomerId': customerId,
                    'SeasonId': seasonId,
                    'useRemoteData': false
                },
                function (data, status, response) {
                    $(this).html(data);


                }
            );

            return false;
        });
    });
</script>