﻿@using NTB.SportsDataAdmin.Domain.Classes
@model SelectionView

@Html.EditorFor(model => model.DefineView.DetailsView)


<fieldset class="container-fluid"><legend>@Model.DefineView.CustomerJob.JobName</legend>
<form method="POST" action="/Customer/GetMunicipalities/@Model.DefineView.CustomerJob.JobId">
    <input type="hidden" name="sportId" value="@Model.DefineView.CustomerJob.SportId"/>
    <input type="hidden" name="ageCategoryId" value="@Model.DefineView.CustomerJob.AgeCategoryId"/>
    <input type="hidden" name="jobId" value="@Model.DefineView.CustomerJob.JobId"/>
    <input type="hidden" name="customerId" value="@Model.DefineView.CustomerJob.CustomerId"/>
    <select name="seasonId">
        <option value=""></option>
            
        @foreach (Season season in Model.DefineView.Seasons)
        {
            if (season.SeasonId == Convert.ToInt32(Session["SeasonId"].ToString()))
            {
                <option selected="selected" value="@season.SeasonId">@season.SeasonName</option>
            }
            else
            {
                <option value="@season.SeasonId">@season.SeasonName</option>
            }
        }
    
    </select>
<input type="submit" id="filterButton" />
</form>
        
            @{
                int columns = 0;
            }

            <div style="width: 79%; float: left;" id="mainarea">

                <div style="width: 100%">
                    <a href="#" id="hideAll" class="hideAll" style="float: right;">Skjul alle</a>
                </div>
                <div style="clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;">
                </div>

                @{
                    foreach (District districts in Model.Districts)
                    {

                        string kommuneId = "kommune" + districts.DistrictId;
                        string submitId = "input" + districts.DistrictId;
                        string divDistrictId = "return" + districts.DistrictId;

                        string checkMunicipalities = "checkMunicipalites" + kommuneId;
                        string linkCheckAllMunicipalities = "velgAlleKommuner" + kommuneId;
                        if (columns == 4)
                        {
                            columns = 0;
                            <div style="clear: both; display: block; overflow: hidden;"></div>
                        }

                        <form method="POST" action="/Customer/GetMunicipalities/@Model.DefineView.CustomerJob.JobId">
                        <fieldset class="col-md-3" >
                            <legend>@districts.DistrictName</legend>
                            
                            <div style="width: 100%; float: left;">
                                <a href="#" id="hide@kommuneId" class="hideKommune" rel="@kommuneId" style="float: right;">Skjul</a>
                                &nbsp;&nbsp;
                                <a href="#" class="checkMunicipalitiesDataAccess" rel="@divDistrictId" id="@linkCheckAllMunicipalities">Kryss av alle</a>
                            </div>
                            
                            <div id="@kommuneId" class="col-md-3-districts">
                                @foreach (Municipality municipality in Model.Municipalities)
                                {
                                    string inputKommuneId = "selectedMunicipalitiesDataAccess" + municipality.MunicipalityId;
                                    if (municipality.DistrictId != districts.DistrictId)
                                    {
                                        continue;
                                    }
                                    if (municipality.Selected)
                                    {
                                        <input type="checkbox" name="selectedMunicipalitiesDataAccess" id="@inputKommuneId" value="@municipality.MunicipalityId" class="@divDistrictId" checked="checked" />@municipality.MuniciaplityName<br />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="selectedMunicipalitiesDataAccess" id="@inputKommuneId" value="@municipality.MunicipalityId" class="@divDistrictId" />@municipality.MuniciaplityName<br />
                                    }
                                }

                                <input type="hidden" name="customerId" value="@ViewBag.CustomerId" />
                                <input type="hidden" name="sportId" value="@ViewBag.SportsId"  />
                                <input type="hidden" name="jobId" value="@ViewBag.JobId" />
                                <input type="hidden" name="ageCategoryId" value="@ViewBag.AgeCategoryId" />
                                <input type="hidden" name="seasonId" value="@ViewBag.SeasonId"/>
                                
                                <input type="submit" id="@submitId" class="selectedMunicipalitiesDataAccess" />
                            </div>
                            <div id="@divDistrictId"></div>
                            
                        </fieldset>
                        </form>

                                columns++;
                    }

                }

            </div>
        <div style="float: right; width: 20%" id="tournaments">
            <div id="loadingDiv">
                <img src="/Content/images/ajax-loader.gif"/>
            </div>
            @{
                if (Model.Tournaments != null)
                {
                    // Looping the object and creating the form fields.
                    // The hidden field contains the ID of the municipality this tournament is played in.
                    <div>
                        <a href="#" id="velgAlleTurneringer">Velg alle turneringer</a><br/>
                        <form method="post" action="/Customer/StoreTournaments/@ViewBag.CustomerId" name="selTournaments" id="sel_Tournaments">
                            <input type="hidden" name="customerId" value="@ViewBag.CustomerId" />
                            <input type="hidden" name="sportId" value="@ViewBag.SportId" />
                            <input type="hidden" name="jobId" value="@ViewBag.JobId" />
                            <input type="hidden" name="ageCategoryId" value="@ViewBag.AgeCategoryId" id="AgeCategoryId" />
            
                            @{
                    int storedAgeCategory = 0;
                    foreach (Tournament selectedTournament in Model.Tournaments)
                    {
                        var tournamentIdAndNumber = selectedTournament.TournamentNumber + "/" + selectedTournament.TournamentId;
                        if (selectedTournament.AgeCategoryId != storedAgeCategory && storedAgeCategory > 0)
                        {
                                        <br/>
                        }

                        storedAgeCategory = selectedTournament.AgeCategoryId;
                                    <input type="hidden" name="SelectedMunicipalitiesDataAccess" value="@selectedTournament.MunicipalityId" />
                        if (selectedTournament.TournamentSelected)
                        {
                                        <input class="selTournaments" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber" checked="checked" />
                        }
                        else
                        {
                                        <input class="selTournaments" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber" />
                        }

                                    <span>@selectedTournament.TournamentName (@selectedTournament.TournamentId)</span>
                                    <br/>
                    }

                            }
                        
                            <br />
                            <label for="writtentournament">Turnering Id</label><br />
                            <input type="text" name="writtentournament" /><br />
                            <input type="submit" value = "Submit" id="submitTournaments"/>
                        </form>
                    </div>
                }

            }
        </div>
    </fieldset>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#loadingDiv").hide();
        $("a.hideKommune").click(function () {
            if ($(this).text() == 'Skjul') {
                $("div#" + $(this).attr("rel")).slideUp();
                $(this).text("Vis");
            } else {
                $("div#" + $(this).attr("rel")).show("slow");
                $(this).text("Skjul");
            }
        });

        $(".checkMunicipalitiesDataAccess").click(function () {
            var checkboxes = $(this).attr("rel");
            var checked = $("." + checkboxes).attr('checked');

            $("." + checkboxes).attr('checked', !checked);
            if ($(this).text() == "Kryss av alle") {
                $(this).text("Avkryss alle");
            } else {
                $(this).text("Kryss av alle");
            }
            return false;

        });

        $('#velgAlleTurneringer').click(function () {
            var checked = $('.selTournaments').attr('checked');
            $('.selTournaments').attr('checked', !checked);
            // $(this).data('checked', !checked);

            return false;
        });

        // I know that I am now working with soccer, so ...
        // $("#agecategory").load('/Customer/GetAgeCategories');

        $("a.hideAll").click(function () {
            if ($(this).text() == 'Skjul alle') {
                $("div.KommuneListe").slideUp();
                $(this).text("Vis alle");
            } else {
                $("div.KommuneListe").show("slow");
                $(this).text("Skjul alle");
            }

        });

        $(".selectedMunicipalitiesDataAccess").click(function () {


            var checkedItems = new Array();
            var checkedTournaments = new Array();

            var returnArea = "";
            $("input[type=checkbox][name=selectedMunicipalitiesDataAccess]:checked").each(function () {

                checkedItems.push($(this).val());
            });


            $("input[type=checkbox][name=selectedTournaments]:checked").each(function () {
                checkedTournaments.push($(this).val());
            });

            var jobId = '@ViewBag.JobId';
            var sportId = '@Session["SportId"]';
            var seasonId = '@Session["SeasonId"]';
            var ageCategoryId = '@Session["AgeCategoryId"]';

            $("#loadingDiv").show();
            $.ajax({
                type: "POST",
                url: "/Customer/GetSelectedItems/@ViewBag.CustomerId",
                data: {
                    selectedItems: checkedItems.join('|'),
                    SportId: sportId,
                    JobId: jobId,
                    AgeCategoryId: ageCategoryId,
                    SeasonId: seasonId
                },
                dataType: "text",
                cache: false,
                success: function (request) {
                    $("#tournaments").replaceWith(request);
                    $("#loadingDiv").hide();
                },
                error: function (xhr, ajaxOptions, error) {
                    $("#loadingDiv").hide();
                    alert(xhr.status);
                    alert(error);
                }
            });

            return false;
        });
    });
</script>