﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Tournament>

@{
    var customerId = Session["CustomerId"];
}

<div id="tournaments">
    <div id="loadingDiv">
        <img src="/Content/images/ajax-loader.gif"/>
    </div>
    <a href="#" id="velgAlleTurneringer">Velg alle turneringer</a><br />
    
    <form method="post" action="/Customer/StoreTournaments/@customerId" name="selTournaments" id="sel_Tournaments">
        <input type="hidden" name="SportsId" value="@ViewBag.SportsId" />
        <input type="hidden" name="JobId" value="@ViewBag.JobId" />
        @{
            // Looping the object and creating the form fields.
            // The hidden field contains the ID of the municipality this tournament is played in.
            int storedAgeCategory = 0;

            if (Model != null)
            {
                foreach (Tournament viewJobsTournament in Model)
                {
                    // var hiddenTournamentNameId = "Tournament_" + viewJobsTournament.TournamentNumber;
                    var tournamentIdAndNumber = viewJobsTournament.TournamentNumber.Trim() + "/" + viewJobsTournament.TournamentId;
                    if (viewJobsTournament.AgeCategoryId != storedAgeCategory && storedAgeCategory > 0)
                    {
                        <br />
                    }

                    storedAgeCategory = viewJobsTournament.AgeCategoryId;
                    <input type="hidden" name="SelectedMunicipalities" value="@viewJobsTournament.MunicipalityId" />
                    var classAcceptedTournament = "acceptedTournament";
                    if (viewJobsTournament.TournamentAccepted == 0)
                    {
                        classAcceptedTournament = "unacceptedTournament";
                    }

                    if (viewJobsTournament.TournamentSelected)
                    {
                        <input class="selTournaments @classAcceptedTournament" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber"  checked="checked" />
                    }
                    else
                    {
                        <input class="selTournaments @classAcceptedTournament" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber" />
                    }

                    <span>@viewJobsTournament.TournamentName (@viewJobsTournament.TournamentId)</span>
                    <br />

@*<input type="checkbox" name="selectedTournaments" value="@viewJobTournament.TournamentId" checked="checked" />@viewJobTournament.TournamentName<br />*@
                }
            }
        }
        <br />
        <label for="writtentournament">Turnering Id</label><br />
        <input type="text" name="writtentournament" /><br />
        <input type="submit" value="Submit" id="submitTournaments" />
    </form>
</div>
<script language="javascript">
    $('#velgAlleTurneringer').click(function () {
        var checked = $('.selTournaments').attr('checked');
        $('.selTournaments').attr('checked', !checked);

        return false;
    });
</script>