﻿@model IEnumerable<NTB.SportsDataAdmin.Domain.Classes.Customer>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Navn</th>
        <th>E-Post</th>
        <th>TT-kunde</th>
        <th colspan="4" style="text-align: right;">
            <a href="/Customer/SendAllResults">Send alle resultater</a>
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {
            string style;
            {
                style = "activeRow";
                if (item.Active == 0)
                {
                    style = "inactiveRow";
                }
            }

        <tr class="@style">
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.CustomerId })
            </td>
            <td>
                <a href="mailto:@item.Email">@item.Email</a>
            </td>
            <td style="text-align: center;">
                @{
            if (item.TtCustomerId != 0)
            {
                <img src="/Content/images/tt.png" alt="TT Logo" /><br/>
                    <span>@item.TtCustomerId</span>
            }
            else
            {
                Html.DisplayText("&nbsp;");
            }

                }
            </td>
            <td>
                @Html.ActionLink("Endre", "Edit", new { id = item.CustomerId }) |
                @{
            if (item.Active == 1)
            {
                    <a href="/Customer/Delete/@item.CustomerId">Deaktivere</a>
            }
            else if (item.Active == 0)
            {
                    <a href="/Customer/Activate/@item.CustomerId">Aktivere</a>
            }

                }
            </td>
            <td>
                @Html.ActionLink("Vis jobber", "ShowJobs", new { id = item.CustomerId })
            </td>
            
            <td>
                @Html.ActionLink("Send resultater", "SendResults", new { id = item.CustomerId })
            </td>
        </tr>
        }

    }
</table>
