﻿@using NTB.SportsDataAdmin.Domain.Classes
@model SelectionView
           
<div>
    @{
        int columns = 0;
    }

    <div style="width: 79%; float: left;" id="mainarea">

        <div style="width: 100%">
            <a href="#" id="hideAll" class="hideAll" style="float: right;">Skjul alle</a>
        </div>
        <div style="clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;">
        </div>

        @{
            foreach (District districts in Model.Districts)
            {
                string kommuneId = "kommune" + districts.DistrictId;
                string submitId = "input" + districts.DistrictId;
                string divDistrictId = "return" + districts.DistrictId;

                string checkMunicipalities = "checkMunicipalites" + kommuneId;
                string linkCheckAllMunicipalities = "velgAlleKommuner" + kommuneId;

                string hideId = "hide" + kommuneId;
                if (columns == 4)
                {
                    columns = 0;
                    <div style="clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;" />
                }

                <fieldset class="districts" >
                    <legend>@districts.DistrictName</legend>
                    
                <div style="width: 100%; float: left;">
                    <a href="#" id="@hideId" class="hideKommune" rel="@kommuneId" style="float: right;">Skjul</a>
                    &nbsp;&nbsp;
                    <a href="#" class="checkMunicipalitiesDataAccess" rel="@divDistrictId" id="@linkCheckAllMunicipalities">Kryss av alle</a>
                </div>
                <div style="clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;" />
                <div class="districts">
                    <div id="@kommuneId" class="KommuneListe" style="width: 100%; float: left;">
                        @foreach (Municipality municipality in Model.Municipalities.Where(x=>x.DistrictId == districts.DistrictId))
                        {
                            string inputKommuneId = "selectedMunicipalitiesDataAccess" + municipality.MunicipalityId;
                            if (municipality.DistrictId == districts.DistrictId)
                            {
                                if (municipality.Selected)
                                {
                                    <input type="checkbox" name="selectedMunicipalitiesDataAccess" id="@inputKommuneId" value="@municipality.MunicipalityId" class="@divDistrictId" checked="checked" />@municipality.MuniciaplityName<br />
                                }
                                else
                                {
                                    <input type="checkbox" name="selectedMunicipalitiesDataAccess" id="@inputKommuneId" value="@municipality.MunicipalityId" class="@divDistrictId" />@municipality.MuniciaplityName<br />
                                }
                            }
                        }

                        <input type="hidden" name="CustomerId" value="@ViewBag.CustomerId" id="CustomerId" />
                        <input type="hidden" name="SportsId" value="@ViewBag.SportsId" id="SportsId" />
                        <input type="hidden" name="JobId" value="@ViewBag.JobId" id="JobId" />
                        <input type="hidden" name="AgeCategoryId" value="@ViewBag.AgeCategoryId" id="AgeCategoryId" />
                        <input type="submit" id="@submitId" class="selectedMunicipalitiesDataAccess" />
                    </div>
                    <div id="@divDistrictId"></div>
                    </div>
                </fieldset>

                columns++;
            }

        }

    </div>
    <div style="float: right; width: 20%" id="tournaments">
        @{
            if (Model.Tournaments != null)
            {
                // Looping the object and creating the form fields.
                // The hidden field contains the ID of the municipality this tournament is played in.
                <div>
                    <a href="#" id="velgAlleTurneringer">Velg alle turneringer</a><br/>
                    <form method="post" action="/Customer/StoreTournaments/@ViewBag.CustomerId" name="selTournaments" id="sel_Tournaments">
                        <input type="hidden" name="CustomerId" value="@ViewBag.CustomerId" />
                        <input type="hidden" name="SportsId" value="@ViewBag.SportsId" />
                        <input type="hidden" name="JobId" value="@ViewBag.JobId" />
                        <input type="hidden" name="AgeCategoryId" value="@ViewBag.AgeCategoryId" id="AgeCategoryId" />
            
                        @{
                            int storedAgeCategory = 0;
                            foreach (Tournament selectedTournament in Model.Tournaments)
                            {
                                var tournamentIdAndNumber = selectedTournament.TournamentNumber + "/" + selectedTournament.TournamentId;
                                if (selectedTournament.AgeCategoryId != storedAgeCategory && storedAgeCategory > 0)
                                {
                                    <br/>
                                }

                                storedAgeCategory = selectedTournament.AgeCategoryId;
                                <input type="hidden" name="SelectedMunicipalitiesDataAccess" value="@selectedTournament.MunicipalityId" />
                                if (selectedTournament.TournamentSelected)
                                {
                                    <input class="selTournaments" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber" checked="checked" />
                                }
                                else
                                {
                                    <input class="selTournaments" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber" />
                                }

                                <span>@selectedTournament.TournamentName</span>
                                <br/>
                            }

                        }
                        
                        <input type="submit" value = "Submit" id="submitTournaments"/>
                    </form>
                </div>
            }

        }
    </div>
</div>
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $("a.hideKommune").click(function() {
            if ($(this).text() == 'Skjul') {
                $("div#" + $(this).attr("rel")).slideUp();
                $(this).text("Vis");
            } else {
                $("div#" + $(this).attr("rel")).show("slow");
                $(this).text("Skjul");
            }

            return false;
        });

        $(".checkMunicipalitiesDataAccess").click(function() {
            var checkboxes = $(this).attr("rel");
            var checked = $("." + checkboxes).attr('checked');

            $("." + checkboxes).attr('checked', !checked);
            if ($(this).text() == "Kryss av alle") {
                $(this).text("Avkryss alle");
            } else {
                $(this).text("Kryss av alle");
            }
            return false;

        });

        $('#velgAlleTurneringer').click(function() {
            var checked = $('.selTournaments').attr('checked');
            $('.selTournaments').attr('checked', !checked);
            // $(this).data('checked', !checked);

            return false;
        });

        // I know that I am now working with soccer, so ...
        // $("#agecategory").load('/Customer/GetAgeCategories');

        $("a.hideAll").click(function() {
            if ($(this).text() == 'Skjul alle') {
                $("div.KommuneListe").slideUp();
                $(this).text("Vis alle");
            } else {
                $("div.KommuneListe").show("slow");
                $(this).text("Skjul alle");
            }

            return false;
        });


        $("form#sel_Tournaments").submit(function(e) {
            e.preventDefault();
            var customerId = '@ViewBag.CustomerId';
            var jobId = '@ViewBag.JobId';
            var sportsId = '@ViewBag.SportsId';

            console.log('CustomerId: ' + customerId);
            console.log('jobId: ' + jobId);
            console.log('SportsId' + sportsId);

            var checkedTournaments = new Array();
            var checkedItems = new Array();
            var returnArea = "";

            $("input[type=checkbox][name=selectedTournaments]:checked").each(function() {
                console.log($(this).val());
                checkedTournaments.push($(this).val());
                // returnArea = $(this).attr("class");
                // returnArea = $("#tournaments").val();
            });

            $("input[type=checkbox][name=selectedMunicipalitiesDataAccess]:checked").each(function() {
                checkedItems.push($(this).val());
                // returnArea = $(this).attr("class");
                // returnArea = $("#tournaments").val();
            });


            $.ajax({
                type: "POST",
                url: "/Customer/StoreTournaments/" + customerId,
                data: {
                    selectedTournaments: checkedTournaments.join(','),
                    selectedMunicipalities: checkedItems.join(','),
                    CustomerId: customerId,
                    SportsId: sportsId,
                    JobId: jobId
                },
                dataType: "text",
                cache: false,
                success: function(request) {
                    // $("#tournaments").html(request);
                    // document.location.reload();
                    return true;
                },
                error: function(xhr, ajaxOptions, error) {
                    // alert('Error receiving tournaments from selected selectedMunicipalitiesDataAccess.');
                    alert(xhr.status);
                    alert(error);
                    // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                }
            });

            return false;
        });

        $(".selectedMunicipalitiesDataAccess").click(function() {


            var checkedItems = new Array();
            var checkedTournaments = new Array();
            var AgeCategoryId = @ViewBag.AgeCategoryId;

            // alert(AgeCategoryId);
            var returnArea = "";
            $("input[type=checkbox][name=selectedMunicipalitiesDataAccess]:checked").each(function() {

                checkedItems.push($(this).val());
                // returnArea = $(this).attr("class");
                // returnArea = $("#tournaments").val();
            });

            // alert(checkedItems);

            $("input[type=checkbox][name=selectedTournaments]:checked").each(function() {
                checkedTournaments.push($(this).val());
                // returnArea = $(this).attr("class");
                // returnArea = $("#tournaments").val();
            });

            // alert(checkedTournaments);

            // data: "selectedItems=" + checkedItems.join('|'),
            var jobId = @ViewBag.JobId;
            var SportsId = @ViewBag.SportsId;
            var seasonId = @ViewBag.SeasonId;

//            var AgeCategory = $('#AgeCategories').val();
//            alert("Agecategory: " + AgeCategory);
//            return false;

            // alert("This is joined items: " + checkedItems.join('|'));

            $.ajax({
                type: "POST",
                url: "/Customer/GetSelectedItems/@ViewBag.CustomerId",
                data: {
                    selectedItems: checkedItems.join('|'),
                    SportsId: SportsId,
                    JobId: jobId,
                    AgeCategoryId: AgeCategoryId,
                    seasonId: seasonId
                },
                dataType: "text",
                cache: false,
                success: function(request) {
                    $("#tournaments").replaceWith(request);
                    // document.location.reload();
                },
                error: function(xhr, ajaxOptions, error) {
                    alert(xhr.status);
                    alert(error);
                    // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                }
            });

            return false;
        });


    });
</script>