﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Job>
@{
    ViewBag.Title = "Send resultater til kunden";

    var groups = Model.GroupBy(jobNames => jobNames.JobName);
}

<h2>@ViewBag.Title</h2>
@* ReSharper disable Html.PathError *@
<form action="/Customer/SendResult/@ViewBag.CustomerId" method="POST" name="sendResults" id="sendResults">
    <input type="hidden" name="ttcustomerid" value="@ViewBag.CustomerForeignId"/>
    <table>
        <tr>
            <td>Start dato</td>
            <td>Slutt dato</td>
        </tr>
        
        <tr>
            <td><input name="startDate" id="startDate"/></td>
            <td><input name="endDate" id="endDate"/></td>
        </tr>
    </table>
    <br/>
    @foreach (var group in groups)
    {
        <h2>@group.Key</h2>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>                    
                    <th>Turneringsnavn</th>
                    <th>TurneringsId</th>
                    <th><a href="#" class="velgAlleTurneringer" rel="@group.Key.Replace(" ", "")">Velg alle turneringer</a></th>
                </tr>
            </thead>
            <tbody>
                    
                @* ReSharper disable AccessToForEachVariableInClosure *@
                @foreach (Job filteredJob in Model.Where(fj => fj.JobName == group.Key).OrderBy(fj => fj.MinAge))
                {
                    var tournamentId = @"T" + filteredJob.TournamentId + @"S" + filteredJob.SportId;
                    <tr>
                        <td><input type="checkbox" name="tournament[]" value="@tournamentId" checked="checked" class="@group.Key.Replace(" ", "")"/></td>
                        <td>@filteredJob.TournamentName</td>
                        <td>@filteredJob.TournamentId</td>
                    </tr>
                }
                @* ReSharper restore AccessToForEachVariableInClosure *@        
            </tbody>
        </table>
        <br/>
    }
    
    <input type="submit" value="Send resultater til kunden"/>
</form>
@* ReSharper restore Html.PathError *@

<script language="javascript">
    $('.velgAlleTurneringer').click(function () {
        var selectClass = this.rel;
        
        var checked = $("."+selectClass).attr('checked');
        $("."+selectClass).attr('checked', !checked);

        return false;
    });
</script>