﻿@{
    ViewBag.Title = "SendAllResults";
}

<h2>Oppdater Resultater</h2>

<form action="/Customer/SendAllResults" method="POST" name="sendAllResults" id="sendAllResults">
    <table>
        <tr>
            <td>Start dato</td>
            <td>Slutt dato</td>
        </tr>
        
        <tr>
            <td><input name="startDate" id="startDate"/></td>
            <td><input name="endDate" id="endDate"/></td>
        </tr>
        
        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="submit" value="Send"/>
            </td>
        </tr>
    </table>
</form>