﻿

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <span>Aktive jobber: @Model.Activated</span><br/>
    <span>Inaktive jobber: @Model.DeActivated</span><br/>
    <span>Turneringer: @Model.NumberOfTournaments</span><br/>
</p>