﻿@using NTB.SportsDataAdmin.Domain.Classes
@model CreateSeasonView

@{
    ViewBag.Title = "Legg til sesong";
}

<form method="POST" action="/Organization/CreateSeason/@Model.OrgId">
    <fieldset class="container">
        <legend>@ViewBag.Title</legend>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="seasonId">Id</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" name="seasonId"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/>

        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="seasonName">Navn</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" name="seasonName"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sesonStartDate">Start dato</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" name="seasonStartDate"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sesonEndDate">Slutt dato</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" name="seasonEndDate"/>
                    </div>
                </div>
            </div>

        </div>
    
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sport">Idrett</label>
                    </div>

                    <div class="col-md-6">
                        <select name="sport" class="form-control">
                            @{
                                foreach (Sport sport in Model.Sports)
                                {
                                    <option value="@sport.Id">@sport.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sport">Sesong status</label>
                    </div>

                    <div class="col-md-6">
                        <select name="seasonActive" class="form-control">
                            <option value="0">Ikke aktiv</option>
                            <option value="1">Aktiv</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <input type="submit" value="Legg til" class="btn btn-success"/>&nbsp;&nbsp;
            <input type="reset" value="Tøm" class="btn btn-default"/>
    
        </div>
    </fieldset>
</form>