﻿@using NTB.SportsDataAdmin.Domain.Classes
@model List<Sport>
@{
    ViewBag.Title = "Legg til sport";
}

<form method="POST" action="/Organization/CreateSport/@ViewBag.OrgId">
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sportId">Id</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" name="sportId" value="@ViewBag.OrgId"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/>

        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sportName">Navn</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" name="sportName"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sesonName">Velg sport</label>
                    </div>
                    <div class="radio col-md-3">
                        @{
                            
                            foreach (Sport sport in Model)
                            {
                                <input type="radio" name="radioSport" value="@sport.Id"/> @sport.Name<br/>
                            }
                        }
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="sesonName">Velg Type</label>
                    </div>
                    <div class="col-md-6">
                        <select name="sportType" class="form-control">
                            <option value="TeamSport">Lagidrett</option>
                            <option value="SingleSport">Individuell idrett</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
        <br/>

        <div class="col-md-6">
            <input type="submit" value="Legg til" class="btn btn-success"/>&nbsp;&nbsp;
            <input type="reset" value="Tøm" class="btn btn-default"/>
    
        </div>
    </fieldset>
</form>