﻿@using NTB.SportsDataAdmin.Domain.Classes
@model OrganizationDetail

@{
    ViewBag.Title = "Detaljer";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-1"><label>Navn: </label></div>
        <div class="col-md-4">@Model.Org.OrganizationName (@Model.Org.OrganizationNameShort)</div>
        <div class="clearfix"></div>
        <div class="col-md-1"><label>Sport: </label></div>
        <div class="col-md-4">@Model.Org.Sport</div>
        <div class="clearfix"></div>
        <div class="col-md-1"><label>Sesonger: </label></div>
        <div class="clearfix"></div>
        @{
            if (Model.Org.SportId != 0)
            {
                <ul class="list-group col-md-5">
        
            @foreach (Season season in Model.OrgSeasons)
            {
                <li class="list-group-item">
                    @season.SeasonName 
                    <a href="/Organization/SelectSeason/@season.SeasonId">Velg sesong</a>&nbsp;&nbsp;
                    <a href="/Organization/EditSeason/@season.SeasonId">Endre sesong</a>
                </li>
            }
        <li class="list-group-item"><a href="/Organization/CreateOrganizationSeason/@Model.Org.OrganizationId">Legg til sesong</a></li>
         </ul>       
            }
            
        }
    <ul class="list-group col-md-5">
        
        <li class="list-group-item"><a href="/Organization/CreateOrganizationSport/@Model.Org.OrganizationId">Legg til sport</a></li>
        @{
            
            
            if (Model.Clubs != null && Model.Clubs.Count > 0)
            {
                <li class="list-group-item"><a href="/Organization/ConnectClubs/@Model.Org.OrganizationId">Koble klubber mellom to organisasjoner</a></li>
            }
        }
        
        
    </ul>
    </div>
</div>
