﻿@model NTB.SportsDataAdmin.Domain.Classes.Organization
@{
    ViewBag.Title = "Endre organisasjon";
}


<form method="POST" name="org">
    <input type="hidden" name="sportid" value="@Model.SportId"/>
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="form-group">
            <div class="col-md-3">
                <label for="orgid">Organisasjon Id</label>
                <input name="orgid" class="form-control" value="@Model.OrganizationId" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-md-3">
                <label for="orgname">Organisasjon Navn</label>
                <input name="orgname" class="form-control" value="@Model.OrganizationName" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-md-3">
                <label for="orgshortname">Organisasjon Navn kort</label>
                <input name="orgshortname" class="form-control" value="@Model.OrganizationNameShort" />
            </div>
        </div>
        
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-md-3">
                <label for="sport">Sport</label>
                <input name="sport" class="form-control" value="@Model.Sport" />
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        @{
            if (Model.SingleSport == 1)
            {
                <div class="col-md-2">
                    <div class="radio">
                        <label>
                            <input type="radio" class="radio" name="sporttype" value="SingleSport"  checked="checked"/>Individuel idrett
                        </label>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <div class="radio">
                        <label>
                            <input type="radio" class="radio" name="sporttype" value="SingleSport" />Individuel idrett
                        </label>
                    </div>
                </div>
            }
        }
        
        @{
            if (Model.TeamSport == 1)
            {
                <div class="col-md-2">
                    <div class="radio">
                        <label>
                            <input type="radio" class="radio" name="sporttype" value="TeamSport" checked="checked" />Lagidrett
                        </label>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <div class="radio">
                        <label>
                            <input type="radio" class="radio" name="sporttype" value="TeamSport" />Lagidrett
                        </label>
                    </div>
                </div>
            }
        }
    
        <div class="clearfix"></div>
        <br />
        <div class="col-md-3">
            <input class="btn btn-success" type="submit" value="Oppdater" />&nbsp;&nbsp;
            <input class="btn btn-default" type="reset" value="Tøm" />
        </div>
    </fieldset>

</form>