﻿@using NTB.SportsDataAdmin.Services.NIF.NIFProdService
@model List<NTB.SportsDataAdmin.Domain.Classes.Organization>
@{
    ViewBag.Title = "Index";
}

<h2>Organisasjoner</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Forkortelse</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5"><a href="/Organization/Create">Legg til</a></td>
        </tr>
    </tfoot>
    <tbody>
        @{
            foreach (var org in Model)
            {
                <tr>
                    <td>@org.OrganizationId</td>
                    <td><a href="/Organization/Details/@org.OrganizationId">@org.OrganizationName</a></td>
                    <td>@org.OrganizationNameShort</td>
                    <td><a href="/Organization/Edit/@org.OrganizationId"><img src="/Content/images/24x24/edit.png" alt="Edit" title="Edit" /></a></td>
                    <td><a href="/Organization/Delete/@org.OrganizationId"><img src="/Content/images/24x24/delete.png" alt="Delete" title="Delete" /></a></td>
                </tr>
            }
        }
        
    </tbody>
</table>
