﻿@using NTB.SportsDataAdmin.Domain.Classes
@model SelectedSeasonDetailModel

@{
    ViewBag.Title = "Detaljer";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-1"><label>Navn: </label></div>
        <div class="col-md-4">@Model.Organization.OrganizationName (@Model.Organization.OrganizationNameShort)</div>
        <div class="clearfix"></div>
        <div class="col-md-1"><label>Sport: </label></div>
        <div class="col-md-4">@Model.Organization.Sport</div>
        <div class="clearfix"></div>
        <div class="col-md-1"><label>Sesonger: </label></div>
        <div class="clearfix"></div>
        @{
            if (Model.Organization.SportId != 0)
            {
                <ul class="list-group col-md-5">
                <li class="list-group-item">
                    @Model.Season.SeasonName <a href="/Organization/EditSeason/@Model.Season.SeasonId">Endre sesong</a>
                </li>
         </ul>       
            }
            
        }
    <ul class="list-group col-md-5">
        
        @{
            
            if (Model.Organization.SportId == 0 || Model.Clubs.Count == 0)
            {
                
                <li class="list-group-item"><a href="/Organization/GetClubs/@Model.Season.SeasonId">Hent klubber koblet til organisasjon</a></li>
            }

            if (Model.Clubs != null && Model.Clubs.Count > 0)
            {
                <li class="list-group-item"><a href="/Organization/DeleteClubs/@Model.Organization.OrganizationId">Tømme klubblisten for organisasjonen</a><br /></li>
                <li class="list-group-item"><a href="/Organization/ConnectClubs/@Model.Season.SeasonId">Koble klubber mellom to organisasjoner</a><br />
                Antall klubber i databasen (@Model.Clubs.Count)</li>
            }
        }
        
        
    </ul>
    </div>
</div>
