﻿@using NTB.SportsDataAdmin.Application.Models.Helpers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        
        <!-- Javascripts -->
        @*<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"> </script>*@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NTB sportsdata Admin</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active">
                  <a href="/Home/Index">Hjem</a>
              </li>
              <li>
                  <a href="/Customer/Index">Kunder</a>
              </li>
              <li>
                  <a href="/Tools/Index">Verktøy</a>
              </li>
              <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  Administrasjonsverktøy <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                      <li><a href="/AdminTools/Index">Administrasjonsverktøy</a></li>
                      <li><a href="/AdminTools/UpdateSportsTable">Oppdater Sportstabell</a></li>
                      <li><a href="/AdminTools/ListSports">List opp idretter</a></li>
                      <li><a href="/AdminTools/CreateMunicipalityTable">Lag Distrikt/Region-liste</a></li>
                      <li><a href="/AdminTools/CreateCustomerXml">Lag XML-fil over kunder</a></li>
                      <li class="dropdown-submenu">
                          <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Forbundsinformasjon</a>
                          
                          <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                              <li><a href="/AdminTools/GetFederations">Forbundsliste</a></li>
                          </ul>
                      </li>
                      <li class="dropdown-submenu">
                          <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Turneringer</a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                              <li>
                                  <a href="/AdminTools/Tournaments">Liste over turneringer</a>
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown-submenu">
                          <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Organisasjoner</a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                              <li>
                                  <a href="/Organization">Liste over Organisasjoner</a>
                              </li>
                              <li>
                                  <a href="/Organization/Create">Legg til ny organisasjon</a>
                              </li>
                              <li>
                                  <a href="/Organization/CreateSeason">Legg til ny sesong</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li>@Html.ActionLink("Sportskalender", "Index", "Calendar")</li>
              <li>@Html.ActionLink("Om", "About", "Home")</li>
              <li>@Html.ActionLink("Log inn", "LogOn", "Account")</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
        <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.js")" type="text/javascript"></script> 
        <!-- End of Body -->
        @RenderSection("JavaScriptIncludes", required: false)
        @Html.RenderScripts()
    </body>
    <script type="text/javascript">
        $(document).ready(function() {
            $.urlParam = function(name){
                var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
                return results[1] || 0;
            };
            
//            $(".definelink").click(function() {
//                var defineId = $(this).attr("id");
//                var newId = defineId.replace("definejob", "");
//                var customerId = @Session["CustomerId"];
//                var ageCategoryId = $.urlParam('AgeCategoryId');

//                $("#Districts").load("/Customer/GetJobName/", {
//                        'JobId': newId,
//                        'CustomerId': customerId,
//                        'ageCategoryId': ageCategoryId
//                    },
//                    function(data, status, response) {      
//                        var foo = $(this).data;
//                        
//                    }
//                );
//                return false;
//            }); 
            
            $(function () {
                $("#startDate").datepicker({
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });



            $(function () {
                $("#endDate").datepicker({
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });

            $("#updateTournaments").submit(function () {

                $('#loadingDiv')
                    .hide()  // hide it initially
                    .ajaxStart(function () {
                        $(this).show();
                    })
                    .ajaxStop(function () {
                        $(this).hide();
                    });

                var selectedItems = new Array();

                $("#sesong :selected").each(function () {
                    selectedItems.push($(this).val());
                    // returnArea = $(this).attr("class");
                    // returnArea = $("#tournaments").val();
                });

                $.ajax({
                    type: "POST",
                    url: "/AdminTools/UpdateTournaments",
                    data: {
                        sesonger: selectedItems.join(',')
                    },
                    dataType: "text",
                    cache: false,
                    success: function (request) {
                        // don't do much
                    },
                    error: function (xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        alert(xhr.status);
                        alert(error);
                        // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                    }
                });
                return false;
            });
            
            
        

//        $("#sports").bind('change', function (event) {

//            var sports = $(this).val();
//            $("#calendar").load('/Calendar/GetSportById/',
//            {
//                'SportId': sports
//            },
//            function (data, status, response) {
//                $(this).html(data);
//            }
//        );
//        });


//        $("#submitTournaments").click(function () {
//            alert("jahaHm!");


//            return false;
//        });
//        // $("a.hideKommune").click(function () {
//        $('.formlist').hide();


        
           
        });
    </script>
    <script language="javascript" type="text/javascript" src="/Scripts/SportsData.js"></script>
</html>